@model mvcapppojisteniverze02.Models.Klient

@{
    ViewData["Title"] = "Detail klienta";
}

<br />

<div class="container shadow bg-white rounded">
    <div class="row">
        <div class="col-2">
            <img src="~/icons/icon_person.png" width="75%" />
        </div>
        <div class="row">
            <div class="col-2">
                <p class="h3">
                    @Html.DisplayFor(model => model.Jmeno)
                    @Html.DisplayFor(model => model.Prijmeni)
                </p>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>
                        @Html.DisplayFor(model => model.Ulice)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Mesto)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Psc)
                    </p>
                </div>
                <div class="col">
                    <p>
                        @Html.DisplayFor(model => model.Email)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Telefon)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container bg-warning bg-opacity-25 shadow rounded">
    <br />
    <div>
        <dl class="row">

            <dt class="col sm-2">
                @Html.DisplayNameFor(model => model.ZaznamPojisteniKolekce)
            </dt>
            <dd class="col-sm-10">
                <table border="1" class="table table-hover table-bordered border-3">
                    <thead>
                        <tr class="bg-light">
                            <th class="col">Název</th>
                            <th class="col-2">Cena</th>
                            <th class="col-3"></th>
                        </tr>
                    </thead>

                    @foreach (var polozka in Model.ZaznamPojisteniKolekce)
                    {
                        <tr>
                            <td>
                                <strong>
                                    <a asp-controller="ZaznamPojistenis" asp-action="Details" asp-route-id="@polozka.ZaznamPojisteniID">
                                        @Html.DisplayFor(modelPolozka => polozka.Produkt.Nazev)
                                    </a>
                                </strong>
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelPolozka => polozka.PredmetPojisteni)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelPolozka => polozka.Cena)
                            </td>
                            <td class="text-center">
                                <a class="btn btn-warning btn-sm" asp-controller="ZaznamPojistenis" asp-action="Edit" asp-route-id="@polozka.ZaznamPojisteniID">Editovat</a> |
                                <a class="btn btn-danger btn-sm" asp-controller="ZaznamPojistenis" asp-action="Delete" asp-route-id="@polozka.ZaznamPojisteniID">Odstranit</a>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="ZaznamPojistenis" asp-action="Create" asp-route-id="@Model?.ID">Přidat pojištění</a> |
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.ID">Editace klienta</a> |
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.ID">Odstranit klienta</a>
    </div>
    <br />
</div>

<hr />
<div>
    <a class="accordion-button btn btn-info text-dark shadow-sm" style="height: 30px;" asp-action="Index">Zpátky na seznam klientů</a>
</div>