@model IEnumerable<mvcapppojisteniverze02.Models.Klient>
@using X.PagedList;
@using X.PagedList.Mvc.Core;


@{
    ViewData["Title"] = "Seznam klientů";
}

<br />
<p class="h3 p-3 bg-secondary bg-opacity-10 border border-dark rounded shadow">Seznam klientů</p>
<hr />

@if (ViewBag.alert == "nový")
{
    <div class=" lead alert alert-success alert-dismissible fade show text-center" role="alert">
        Nový klient byl uložen do databáze
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />

}
else if (ViewBag.alert == "odstraněn")
{
    <div class=" lead alert alert-success alert-dismissible fade show text-center" role="alert">
        Klient byl odstraněn z databáze
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
    
}

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Nový klient</a>
</p>

<div class="d-flex justify-content-between">
    <div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page = page}),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = false,
        ContainerDivClasses = new[] {"navigation"},
        LiElementClasses = new[] {"page-item border border-white border-3"},
        PageClasses = new[] {"page-link text-dark bg-white rounded-circle"},
        MaximumPageNumbersToDisplay = 5,
        })
    </div>
    <div class="mt-3">
        <form asp-controller="Klients" asp-action="Index">
            <p>
                Vyhledat podle jména: <input type="text" name="SearchString" />
                <input type="submit" value="Vyhledat" />
            </p>
        </form>
    </div>

</div>

<div class="bg-warning bg-opacity-25 shadow-sm">
    <table border="1" class="table table-hover table-bordered border-2">
        <thead class="bg-light">
            <tr>
                <th class="col-4">

                    <a class="text-dark" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm">
                        @Html.DisplayNameFor(model => model.Jmeno)
                    </a>

                </th>
                <th class="col">
                    Adresa
                </th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>
                            <a asp-action="Details" asp-route-id="@item.ID">
                                @Html.DisplayFor(modelItem => item.Jmeno)
                                @Html.DisplayFor(modelItem => item.Prijmeni)
                            </a>
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ulice)
                        @Html.DisplayFor(modelItem => item.Mesto),
                        @Html.DisplayFor(modelItem => item.Psc)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">Editovat</a> |
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>






