@model IEnumerable<mvcapppojisteniverze02.Models.Klient>

@{
    ViewData["Title"] = "Seznam klientů";
}

<br />
<p class="h3 p-3 bg-secondary bg-opacity-10 border border-dark rounded shadow">Seznam klientů</p>
<hr />

@if (ViewBag.akce == "nový")
{
    <div class="lead">
        <div class="d-block p-2 bg-success bg-opacity-10 shadow-sm text-center">
            Nový klient byl uložen do databáze
        </div>
    </div>
    <br />
}
else if (ViewBag.akce == "odstranit")
{
    <div class="lead">
        <div class="d-block p-2 bg-success bg-opacity-10 shadow-sm text-center">
            Klient byl odstraněn z databáze
        </div>
    </div>
    <br />
}


<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Nový klient</a>
</p>

<div class="bg-warning bg-opacity-25 shadow-sm">
    <table border="1" class="table table-hover table-bordered border-2">
        <thead class="bg-light">
            <tr>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.Jmeno)
                </th>
                <th class="col">
                    Adresa
                </th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>
                            <a asp-action="Details" asp-route-id="@item.ID">
                                @Html.DisplayFor(modelItem => item.Jmeno)
                                @Html.DisplayFor(modelItem => item.Prijmeni)
                            </a>
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ulice)
                        @Html.DisplayFor(modelItem => item.Mesto),
                        @Html.DisplayFor(modelItem => item.Psc)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">Editovat</a> |
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



