@model mvcapppojisteniverze02.Models.ZaznamPojisteni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZaznamPojisteni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZacatekPojisteni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZacatekPojisteni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KonecPojisteni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KonecPojisteni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkt.ProduktID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZaznamPojisteniID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
